@font-face {
	font-family: 'pricedown';
	src: url(font/pricedown.ttf);
}

#money{
	font-family:pricedown;
	position:absolute;
	right:1em;
	top:1em;
	font-size:2em;
	color:#ffffff;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#dirtymoney{
	font-family:pricedown;
	position:absolute;
	right:1em;
	top:3em;
	font-size:2em;
	color:#B9121B;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#bankbalance{
	font-family:pricedown;
	position:absolute;
	right:1em;
	top:2em;
	font-size:2em;
	color:#ffffff;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#rmvMoney{
	display:none;
	font-family:pricedown;
	position:absolute;
	right:1em;
	top:4em;
	font-size:2em;
	color:#B9121B;
}

#addMoney{
	display:none;
	font-family:pricedown;
	position:absolute;
	right:1em;
	top:4em;
	font-size:2em;
	color:#96CA2D;
}



